body{
    background-color: #011f3f;
    text-align: center;
}

#level-title{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
}

.colorButtonClass{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game-over {
    background-color: red;
    opacity: 0.8;
  }

.colorButtonClass2{
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.red{
    background-color: red;
    border: 8px solid black;
    height: 200px;
    width:200px;
    border-radius: 20px;
    margin-right: 25px;
}

.yellow{
    background-color: yellow;    
    border: 8px solid black;
    height: 200px;
    width:200px;
    border-radius: 20px;  
    margin-right: 25px;
}

.blue
{
    background-color:blue; 
    border: 8px solid black;
    height: 200px;
    width:200px;
    border-radius: 20px;

}

.green
{
    background-color: green;   
    border: 8px solid black;
    height: 200px;
    width:200px;
    border-radius: 20px;  
 
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  
footer{
    font-size: xx-large;
    color: white;
    font-family: fantasy;
    margin-top: 100px;
  }